/**
 * @copyright University of Illinois/NCSA Open Source License
 */

div#calendar {
	position: relative;
	width: 716px;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 19px;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
}

div#spacer_calendar {
	height: 1px; /* temporary fix, find the real problem */
}

div#right_side {
	position:absolute;
	width:160px;
	right:0;
	bottom:0;
	top:0;
}

div.myform {
	text-align:center;
}

div#meeting_box {
	position: relative;
	padding:10px;
	width:150px;
	margin-top:40px;
	right:34px;
}

div#link_list {
	margin-top:10px;
	width:150px;
	position:relative;
	left:0;
	margin-bottom:16px;
}

div#upcoming_events {
	position: relative;
	padding:10px;
	width:150px;
	margin-top:20px;
	right:34px;
/*	height:224px;*/
}

div#upcoming_events_title {
	/*padding:10px;*/
}

div#events_list {
	margin-top:10px;
	overflow-y:scroll;
	height:224px;
	width:150px;
	position:relative;
	left:0;
}

.fc-basic-day:hover {
	background-color: #DAE1D8;
}

div#stylized {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 500px;
	position: relative;
}