/**
 * @copyright University of Illinois/NCSA Open Source License
 */

div#calendar {
	position: relative;
	width: 200px;
	height: 448px;
	margin-bottom: 19px;
	float:left;
	/*
	margin-top: 40px;
	margin-left: 20px;
	margin-left: auto;
	margin-right: auto;
	*/
}

div#spacer_calendar {
	height: 1px; /* temporary fix, find the real problem */
}

.fc-state-highlight {
	background: #FFFFFF;
}

.fc-calendar-body {
	cursor: pointer;
}

.fc-basic-day:hover {
	background-color: #E6E6E6;
}

.fc-content {
	background-color: #FFFFFF;
}

.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	background: #FFFFFF;
}

.spacer_content {
	height: 40px;
}

.input {
	width: 180px;
	/*
	border: 1px solid #006;
	background: #ffc;
	*/
}

.button {
	border: 1px solid #006;
	background: #9cf;
}

.label {
	display: block;
	width: 90px;
	float: left;
	margin: 2px 4px 6px 4px;
	text-align: right;
}

br {
	clear: left;
}

label .small {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

.ui-datepicker {
	font-size: .75em;/* your font size here */;
}

.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
}

.ui-timepicker-div dl dd {
	margin: -25px 0 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.inputDisabled {
background-color: #D0D0D0;
}

.textDisabled {
color: #A0A0A0;
}

#leftcolumn {
	width: 300px;
	border: 1px solid red;
	float: left
}

#rightcolumn {
	width: 300px;
	border: 1px solid red;
	float: right
}

h1 {
	text-align:center;
}

div#stylized {
	border: 2px solid;
	background-color: #F2FDED;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 500px;
	position: relative;
	margin-top: 40px;
}

textarea#description {
	height:110px;
}

div#form_background {
	height:448px;
}

div#form_left {
	width:300px;
	float:left;
}